*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin-right: 30px;
  margin-left: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  block-size: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 399px;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: inherit;
  block-size: 100%;
}

.content__list-item {
  margin-bottom: 30px;
  padding: 0px 3px 0px 3px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.more-button {
  width: 390px;
  height: 34px;
  margin-top: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
  min-inline-size: 399px;
}

.content__accent {
  color: #545050;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 194px;
  block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  margin-bottom: 2px;
  /* для корректной работы :focus-visible */
  text-underline-offset: 3px;
  inline-size: 100%;
}

.search-form__submit-button {
  align-self: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.content__video-card-title {
  display: -webkit-box;
  width: 196px;
  margin-bottom: 6px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  width: 225px;
  min-height: 27px;
  margin: 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 0;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background: transparent;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.result__video-container, 
.content__list-container {
  position: relative;
}